<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="comments">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/IndieWeb</directory>
      <exclude>
        <file>src/IndieWeb/MentionClientTest.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
